<!DOCTYPE html>
<html lang="en" class="home">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Repl.it 2020! 🎉🥳</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://Replit-2020.whippingdot.repl.co/static/style.css"
		/>
    <link
    rel="shortcut icon"
    href="favicon.ico"
    type="image/x-icon"
    />  
		<body>
			<header class="center">
				<h1 class="big">For Repl.it</h1>
				<h1>In 2021!</h1>
				<div class="navbar">
					<a href="/" class="home active" title="Travel to the home page"
						>Home</a
					>
					<a
						href="/posts"
						class="posts"
						title="See our top rated posts of the year"
						>Posts</a
					>
					<a
						href="/timeline"
						class="timeline"
						title="See the timeline of announcements by Repl.it"
						>TimeLine</a
					>
					<!-- <a
						href="/suggestions"
						class="suggestions"
						title="Leave a suggestion here"
						>Suggestions</a
					> -->
					<div class="navbar2">
						<a
							href="https://github.com/Repl-it-Coders/Repl.it-2020"
							class="repo"
							title="View the GitHub repo here!"
							target="_blank"
							rel="noreferrer noopener"
							>GitHub Repo</a
						>
						<a
							href="https://repl.it/@Whippingdot/Replit-2020"
							class="editor"
							title="View the project on repl.it"
							target="_blank"
							rel="noreferrer noopener"
							>Project Editor</a
						>
						<a
							href="https://repl.it/@Whippingdot/Replit-2020#README.md"
							class="README"
							title="This it the README.md"
							target="_blank"
							rel="noreferrer noopener"
							>README</a
						>
					</div>
				</div>
			</header>

			<h1 class="center">Wow, we made it to 2021!</h1>
			<p class="center">
				We have a few things that helped us achieve this accomplishment. One of
				those things was Repl.it for pushing people onward in this time of COVID
				with cool code challenges and other things like collaborations and
				sponsorships on cool code programs like AOC. We've highlighted the best
				stuff from this year and gave a timeline of every announcement by
				repl.it<!--,
				and added a
				<a class="homeLink" href="/suggestions">suggestions page </a> in this
				website so we can give our feedback to repl.it. -->
				Thanks! We have a suggestions page, in which you can give suggestions to
				repl.it, which is not complete yet so for now if you are viewing this on
				GitHub create an issue of the suggestion for repl.it and if you are
				viewing this on repl.it write below a comment a suggestion for repl.it.
			</p>

			<footer>
				<p>
					Made with ❤ by the
					<a href="https://github.com/Repl-it-Coders">Repl-it-Coders Team</a>
					for <a href="https://repl.it">repl.it</a> as they carried use through
					these crises.
				</p>
			</footer>
		</body>
	</head>
</html>
