<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Repl.it 2020! 🎉🥳</title>
	<link rel="stylesheet" type="text/css" href="/static/w3.css" />
	<link rel="stylesheet" type="text/css" href="/static/theme.css">
	<!-- @TODO Adjust href after merge -->
	<link rel="shortcut icon" href="https://raw.githubusercontent.com/Repl-it-Coders/Repl-Favicon/main/logo.svg" type="image/svg"
	/>

</head>

<body>
	<div class="w3-container w3-jumbo w3-center w3-theme">
		<h1>Thank You Replit!</h1>
	</div>
	<div class="w3-bar w3-theme-dark">
		<a href="/" class="w3-bar-item w3-mobile w3-button">Home</a>
		<a class="w3-bar-item w3-mobile w3-button w3-theme-d4">Posts</a>
		<a href="/timeline" class="w3-bar-item w3-mobile w3-button">Timeline</a>
		<div class="w3-dropdown-hover w3-mobile">
			<button class="w3-button">Contribute</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-theme-l4">
        <a href="https://github.com/Repl-it-Coders/Repl.it-2020" class="w3-bar-item w3-mobile w3-button">Repository</a>
        <a href="https://repl.it/@Whippingdot/Replit-2021" class="w3-bar-item w3-mobile w3-button">Repl</a>
        <a href="https://github.com/Repl-it-Coders/Repl.it-2020/blob/main/README.md" class="w3-bar-item w3-mobile w3-button">README</a>
      </div>
    </div>
  </div>
  <div class="w3-panel w3-light">
    <h1>Best Posts of the Year</h1>
    <p>Just a note: These posts were found on the <a href="https://repl.it/talk/all">repl talk board</a>. Thank you to all the participants in this community.</p>
    <div class="w3-container w3-leftbar w3-large w3-theme-l4">
    <ol class="center">
			<li>
				<a href="https://repl.it/talk/share/GAME-ROOMS-Among-Us-ALPHA/79187"
					>[GAME] *ROOMS* Among Us *ALPHA*</a
				>
				<a href="https://repl.it/@Smart0ne">by SmartOne</a>
			</li>
			<li>
				<a href="https://repl.it/talk/share/I-made-a-Snake-AI/60873"
					>I made a 🐍Snake AI 💻</a
				>
				<a href="https://repl.it/@DynamicSquid">by DynamicSquid</a>
			</li>
			<li>
				<a
					href="https://repl.it/talk/share/Anger-Test-Test-your-anger-here/78367"
					>😡Anger Test😡 - 👺Test your anger here👺</a
				>
				<a href="https://repl.it/@RYANTADIPARTHI"
					>by RYANTADIPARTHI(299 upvotes but got locked)</a
				>
			</li>
			<li>
				<a href="https://repl.it/talk/share/Uno/52916">Uno!</a>
				<a href="https://repl.it/@Muffinlavania">by Muffinlavania</a>
			</li>
			<li>
				<a href="https://repl.it/talk/share/Minecraft-WebGL-Project-Core/29550"
					>Minecraft WebGL Project Core</a
				>
				<a href="https://repl.it/@HENRYMARTIN4">by HENRYMARTIN4</a>
			</li>
			<li>
				<a href="https://repl.it/talk/share/Unblocker/27414">Unblocker</a>
				<a href="https://repl.it/@JordanDixon1">by JordanDixon1</a>
			</li>
			<li>
				<a href="https://repl.it/talk/share/GAME-Among-Us-TESTING/77843"
					>[GAME] Among Us *TESTING*</a
				>
				<a href="https://repl.it/@Smart0ne">by SmartOne</a>
			</li>
			<li>
				<a href="https://repl.it/talk/share/Cactus-Simulator/33995"
					>Cactus Simulator</a
				>
				<a href="https://repl.it/@CodingCactus">by CodingCactus(mod)</a>
			</li>
			<li>
				<a
					href="https://repl.it/talk/share/MineKhan-Minecraft-for-Khan-Academy/87382"
					>MineKhan (Minecraft for Khan Academy)</a
				>
				<a href="https://repl.it/@Willard21">by Willard21</a>
			</li>
			<li>
				<a href="https://repl.it/talk/share/sparklesBYaSKCsparkles/77844"
					>✨BЯΣKӨЦƬ✨</a
				>
				<a href="https://repl.it/@KobeFF">by KobeFF</a>
			</li>
		</ol>
    </div>
    <h1>Another Note from Whippingdot</h1>
    <p>
			This year was a sad year as we had many crises, but one thing to note is
			that because of Covid-19, repl.it gained many members to their community.
			Many people were bored cooped up inside and so they started coding. They
			found repl.it, and started using it as their IDE. People who were coding
			before too started coding even more and as a result this year we had many
			good projects shared on repl talk. I am saying this as when I was looking
			at the most upvoted posts this year, I found out that the number 6th most
			upvoted post ever was a post from this year, and it was released less than
			3 months ago. Even number 7 was very recent and many more. All the top 12
			most upvoted posts of this year were in the top 30 of the most upvoted
			posts of all time(with the 10th most upvoted being number 28). Thank you,
			repl.it community, for creating these awesome posts and thank you, repl.it
			creators, for making this awesome website. You,
			<a href="https://repl.it/@amasad">amasad</a>, and you,
			<a href="https://repl.it/@hayaodeh">hayaodeh</a>, are simply the best!!!
			<br /><br />
			Also, check out repl.it's version of this website, called loopback which
			shows all your stats of the year,
			<a href="https://replitloopback.repl.co/">here!</a> amasad's loopback is
			<a href="https://replitloopback.repl.co/amasad">this</a> and
			my(Whippingdot's) loopback is
			<a href="https://replitloopback.repl.co/Whippingdot">this!</a>
		</p>

		<p class="w3-small">* My collaboration graph might look empty as my repls were private.</p>
  </div>
  <div class="w3-container w3-bottom w3-theme-l1">
    <p>Made with ❤ by the <a href="https://github.com/Repl-it-Coders">Repl-it Coders Team</a> for repl.it as they carried use through this crisis.</p>
  </div>
</body>

</html>