<!DOCTYPE html>
<html lang="en" class="login">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Best Posts!</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://Replit-2020.whippingdot.repl.co/static/style.css"
		/>
		<link
			rel="shortcut icon"
			href="https://Replit-2020.whippingdot.repl.co/static/favicon_but_better.ico"
			type="image/x-icon"
		/>
	</head>
	<body>
		<h1 class="center">Log In</h1>
		<h2>Log in using your repl.it account!</h2>
		<script
			authed="alert('you authed!')"
			src="https://auth.turbio.repl.co/script.js"
		></script>
	</body>
</html>
