<!DOCTYPE html>
<html lang="en" class="timeline">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Timeline!</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://Replit-2021.whippingdot.repl.co/static/style.css"
		/>
		<link
			rel="shortcut icon"
			href="https://Replit-2021.whippingdot.repl.co/static/favicon_but_better.ico"
			type="image/x-icon"
		/>
	</head>
	<body>
		<header class="center">
			<h1 class="big">For Repl.it</h1>
			<h1>Share It</h1>
			<div class="navbar">
				<a href="/home" class="home" title="Travel to the home page">Home</a>
				<a
					href="/posts"
					class="posts"
					title="See our top rated posts of the year"
					>Posts</a
				>
				<a
					href="/timeline"
					class="timeline active"
					title="See the timeline of announcements by Repl.it"
					>TimeLine</a
				>
				<a
					href="/suggestions"
					class="suggestions"
					title="Leave a suggestion here"
					>Suggestions</a
				>
				<div class="navbar2">
					<a
						href="https://github.com/Repl-it-Coders/Repl.it-2021"
						class="repo"
						title="View the GitHub repo here!"
						target="_blank"
						rel="noreferrer noopener"
						>GitHub Repo</a
					>
					<a
						href="https://repl.it/@Whippingdot/Replit-2021"
						class="editor"
						title="View the project on repl.it"
						target="_blank"
						rel="noreferrer noopener"
						>Project Editor</a
					>
					<a
						href="https://repl.it/@Whippingdot/Replit-2021#README.md"
						class="README"
						title="This it the README.md"
						target="_blank"
						rel="noreferrer noopener"
						>README</a
					>
				</div>
			</div>
		</header>

		<h1 class="center">Timeline Of This Year</h1>
		<h3 class="center">
			We have created a Timeline of all the announcements of this year.
		</h3>
		<p class="center">
			There were 88 announcements in total this/last year and so here they are.
			This took me a lot of time to get all of them, about 1 hr 30 mins. I
			really hope you like the timeline. There are also some notes for some/most
			of the timeline objects:
		</p>
		<div class="acttimeline">
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/KaBoomjs-Alpha-Release/111563"
							target="_blank"
							rel="noreferrer noopener"
							>KaBoom.js Alpha Release!!!</a
						>
					</h3>
					<p>
						Release of a JavaScript library created by Repl.it to make creating
						games in JS fun again!
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Code-a-discord-bot-in-python/111542"
							target="_blank"
							rel="noreferrer noopener"
							>Code a discord bot in python!</a
						>
					</h3>
					<p>
						A post saying that repl.it is heavily used for creating Discord Bots
						and so they link to a Discord Bot tutorial by freeCodeCamp.
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Monthly-Repls-November-2020/85967"
							target="_blank"
							rel="noreferrer noopener"
							>Monthly Repls - November 2020</a
						>
					</h3>
					<p>The top repls in the month of November 2020.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/CS-Ed-Week-2020/84801"
							target="_blank"
							rel="noreferrer noopener"
							>CS Ed Week 2020</a
						>
					</h3>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Code-Jam-10-RESULTS/832111"
							target="_blank"
							rel="noreferrer noopener"
							>Code Jam #10 RESULTS</a
						>
					</h3>
					<p>
						These are the results for the 10th Code Jam by repl.it. The winner
						was <a href="https://repl.it/@MartiaForoud">@MartiaForoud</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/UPDATE-Code-Jam-10-Ends/82474"
							target="_blank"
							rel="noreferrer noopener"
							>[UPDATE] Code Jam #10 Ends</a
						>
					</h3>
					<p>The 10th Code Jam by repl.it ends.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Code-Jam-10-Begins/82033"
							target="_blank"
							rel="noreferrer noopener"
							>Code Jam #10 Begins</a
						>
					</h3>
					<p>The 10th Code Jam by repl.it starts.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Advent-of-Code-Sponsorship/81590"
							target="_blank"
							rel="noreferrer noopener"
							>Advent of Code Sponsorship</a
						>
					</h3>
					<p>
						Repl.it sponsors Advent of Code and encourages us to do the
						challenges.
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Code-Jam-10/78974"
							target="_blank"
							rel="noreferrer noopener"
							>Code Jam #10</a
						>
					</h3>
					<p>Code Jam 10 is announced.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Monthly-Repls-October-2020/77597"
							target="_blank"
							rel="noreferrer noopener"
							>Monthly Repls - October 2020</a
						>
					</h3>
					<p>The Top repls in the month of October.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Results-October-2020/60940"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Results - October 2020</a
						>
					</h3>
					<p>
						6th Batch of Weekly Challenge results and potentially the end of
						Weekly Challenges forever.
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlight-Long-Live-Astolfo/60747"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlight - Long Live Astolfo!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@AstOwOlfo">@AstOwOlfo!</a>
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-23/59758"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #23</a
						>
					</h3>
					<p>Weekly Challenges 22 results and 23 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-22/58554"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #22</a
						>
					</h3>
					<p>Weekly Challenges 21 results and 22 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Achievement-Hunting-Club/58249"
							target="_blank"
							rel="noreferrer noopener"
							>Achievement Hunting Club!</a
						>
					</h3>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/PL-Jam-Results/57498"
							target="_blank"
							rel="noreferrer noopener"
							>PL Jam Results!</a
						>
					</h3>
					<p>
						The results of the Programming Language(PL) Jam. The winner was
						BASIL language by the
						<a href="https://repl.it/@basilTeam">@basilTeam</a>
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlight-C-is-GOD/57461"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlight - C# is GOD!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@CSharpIsGud">@CSharpIsGud</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-21/57362"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #21</a
						>
					</h3>
					<p>Weekly Challenges Batch 6 start and 21 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Monthly-Repls-September-2020/57347"
							target="_blank"
							rel="noreferrer noopener"
							>Monthly Repls - September 2020</a
						>
					</h3>
					<p>The Top repls in the month of September.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Results-September-2020/57082"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Results - September 2020</a
						>
					</h3>
					<p>5th Batch of Weekly Challenge results.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-20/56010"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #20</a
						>
					</h3>
					<p>Weekly Challenges 19 results and 20 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/UPDATE-Weekly-Challenge-19/54344"
							target="_blank"
							rel="noreferrer noopener"
							>[UPDATE] Weekly Challenge #19</a
						>
					</h3>
					<p>Weekly Challenges 18 results and 19 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-18/53405"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #18</a
						>
					</h3>
					<p>Weekly Challenges 17 results and 18 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-17/52508"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #17</a
						>
					</h3>
					<p>Weekly Challenges Batch 5 start and 17 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Results-August-2020/52211"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Results - August 2020</a
						>
					</h3>
					<p>4th Batch of Weekly Challenge results.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Monthly-repls-August-2020/51946"
							target="_blank"
							rel="noreferrer noopener"
							>Monthly repls - August 2020</a
						>
					</h3>
					<p>The Top repls in the month of August.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/PL-Jam-has-Ended/51887"
							target="_blank"
							rel="noreferrer noopener"
							>PL Jam has Ended</a
						>
					</h3>
					<p>The Programming Language(PL) Jam ends.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-16/51247"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #16</a
						>
					</h3>
					<p>Weekly Challenges 15 results and 16 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Replit-Database-feedback/51085"
							target="_blank"
							rel="noreferrer noopener"
							>Repl.it Database feedback 💾</a
						>
					</h3>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlight-The-lively-squid/50706"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlight - The lively squid!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@DynamicSquid">@DynamicSquid</a>
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-15/50418"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #15</a
						>
					</h3>
					<p>Weekly Challenges 14 results and 15 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Discord-Music-Bots-Native-Support/50173"
							target="_blank"
							rel="noreferrer noopener"
							>🎹 Discord Music Bots Native Support 🥁</a
						>
					</h3>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-14/49526"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #14</a
						>
					</h3>
					<p>Weekly Challenges 13 results and 14 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Programming-Language-Jam-Let-the-hacking-begin/49105"
							target="_blank"
							rel="noreferrer noopener"
							>Programming Language Jam -- Let the hacking begin!</a
						>
					</h3>
					<p>Programming Language(PL) Jam started.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlight-Cookies/48922"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlight - Cookies!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@Coder100">@Coder100</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-13/48575"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #13</a
						>
					</h3>
					<p>Weekly Challenges Batch 4 start and 13 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Monthly-repls-July-2020/48044"
							target="_blank"
							rel="noreferrer noopener"
							>Monthly repls - July 2020</a
						>
					</h3>
					<p>The Top repls in the month of July.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Result-July-2020/48127"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Result - July 2020</a
						>
					</h3>
					<p>3rd Batch of Weekly Challenge results.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/New-course-How-to-teach-yourself-coding-with-Quizlet-Founder-Andrew-Sutherland/47542"
							target="_blank"
							rel="noreferrer noopener"
							>New course: How to teach yourself coding with Quizlet Founder
							Andrew Sutherland</a
						>
					</h3>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-12/47148"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #12</a
						>
					</h3>
					<p>Weekly Challenges 11 results and 12 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Dev-Spotlight-The-mysterious-masked-man/46772"
							target="_blank"
							rel="noreferrer noopener"
							>Dev Spotlight - The mysterious masked man!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@ApoorvSingal">@ApoorvSingal</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Programming-Language-Jam-and-Grant/46453"
							target="_blank"
							rel="noreferrer noopener"
							>Programming Language Jam & Grant</a
						>
					</h3>
					<p>Programming Language(PL) Jam announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-11/46169"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #11</a
						>
					</h3>
					<p>Weekly Challenges 10 results and 11 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Dev-Spotlight-God-of-the-sea/45724"
							target="_blank"
							rel="noreferrer noopener"
							>Dev Spotlight - God of the sea</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@Lord_Poseidon">@Lord_Poseidon</a>
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-10/45216"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #10</a
						>
					</h3>
					<p>Weekly Challenges 9 results and 10 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-9/44326"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #9</a
						>
					</h3>
					<p>Weekly Challenges Batch 3 start and 9 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Result-June-2020/44070"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Result - June 2020</a
						>
					</h3>
					<p>2nd Batch of Weekly Challenge results.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Announcing-Teams-for-Education/43762"
							target="_blank"
							rel="noreferrer noopener"
							>Announcing Teams for Education</a
						>
					</h3>
					<p>
						End of repl.it classrooms and start of Teams for Education on
						repl.it.
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Monthly-Repls-June-2020/43739"
							target="_blank"
							rel="noreferrer noopener"
							>Monthly Repls - June 2020</a
						>
					</h3>
					<p>Top repls in the month of June.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-8/43318"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #8</a
						>
					</h3>
					<p>Weekly Challenges 7 results and 8 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlights-Hike-away/43156"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlights - Hike away!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@Scoder12">@Scoder12</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Replit-competition-results/42930"
							target="_blank"
							rel="noreferrer noopener"
							>Repl.it competition results!</a
						>
					</h3>
					<p>
						Repl.it competition results. The winner is
						<a href="https://repl.it/@piemadd">@piemadd's</a> video
						<a href="http://www.youtube.com/watch?v=pomwanGXjn4">here!</a>
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-7/42431"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #7</a
						>
					</h3>
					<p>Weekly Challenges 6 results and 7 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlights-Breloom-watches-you-in-your-room/42286"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlights - Breloom watches you in your room!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@Zavexeon">@Zavexeon</a>
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Replit-competition/41557"
							target="_blank"
							rel="noreferrer noopener"
							>Repl.it competition</a
						>
					</h3>
					<p>Announcing repl.it competition</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/WEEKLY-CHALLENGE-6/41536"
							target="_blank"
							rel="noreferrer noopener"
							>WEEKLY CHALLENGE #6</a
						>
					</h3>
					<p>Weekly Challenges 5 results and 6 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlights-Im-Chuck-Bass/41398"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlights : I'm Chuck Bass!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@ThatSmart">ThatSmart</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-5/40565"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #5</a
						>
					</h3>
					<p>Weekly Challenges Batch 2 start and 5 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlights-Lambda-Love/40408"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlights - Lambda Love!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@MrEconomical">@MrEconomical</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Results/40285"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Results</a
						>
					</h3>
					<p>1st Batch of Weekly Challenge results.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Monthly-repls-May-2020/39875"
							target="_blank"
							rel="noreferrer noopener"
							>Monthly repls - May 2020</a
						>
					</h3>
					<p>Top repls in the month of May.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-challenge-4/39409"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly challenge #4</a
						>
					</h3>
					<p>Weekly Challenges 3 results and 4 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/template_jam-results/39156"
							target="_blank"
							rel="noreferrer noopener"
							>{{ template_jam }} results!</a
						>
					</h3>
					<p>
						Template Jam results. The winner is
						<a href="https://repl.it/@Lilykhan">@Lilykhan</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Introducing-Deeplinking/38871"
							target="_blank"
							rel="noreferrer noopener"
							>Introducing Deeplinking!</a
						>
					</h3>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlights-Let-there-be-light/38746"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlights : Let there be light!</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@Vandesm14">@Vandesm14</a>
					</p>
				</div>
			</div>
			<!-- TODO: Write explanation from here as only dev spotlight done -->
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-challenges-3/38484"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly challenges #3</a
						>
					</h3>
					<p>Weekly Challenges 2 results and 3 announcement.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Audio-BETA-EXPLORER-ONLY/37683"
							target="_blank"
							rel="noreferrer noopener"
							>Audio [BETA] 🔈 (EXPLORER ONLY)</a
						>
					</h3>
					<p>Repls can now play audio files. Sadly no .mp3</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlights-Cute-cats/37516"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlights : Cute cats</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@AdCharity">@AdCharity</a>
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Challenge-2/37293"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Challenge #2</a
						>
					</h3>
					<p>Weekly Challenges 1 results and 2 announcement.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/pgzero-template/36590"
							target="_blank"
							rel="noreferrer noopener"
							>pgzero template</a
						>
					</h3>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlights-A-Cactus/36369"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlights : A Cactus</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@CodingCactus">@CodingCactus</a>. This is a
						very exciting interview as CodingCactus, even though he didn't know
						it at that time, was to become a mod.
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/WEEKLY-CHALLENGES-1/36161"
							target="_blank"
							rel="noreferrer noopener"
							>WEEKLY CHALLENGES #1</a
						>
					</h3>
					<p>
						Introduction of Weekly Challenges, Weekly Challenges Batch 1 start,
						and the first Weekly Challenge
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Terminal-Links/35450"
							target="_blank"
							rel="noreferrer noopener"
							>Terminal Links</a
						>
					</h3>
					<p>Links in the terminal are now clickable.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlights-The-Return/35222"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlights: The Return</a
						>
					</h3>
					<p>
						Developer Spotlight for
						<a href="https://repl.it/@raghavm">@raghavm</a> and
						<a href="https://repl.it/@LehuyH">@LehuyH</a>. This was the two
						people being interviewed and also the reviving of Developer
						Spotlights.
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/template_jam-EXTENDED/33491"
							target="_blank"
							rel="noreferrer noopener"
							>{{ template_jam }} [EXTENDED!]</a
						>
					</h3>
					<p>
						Announcing Template Jam for adding new templates to the templates
						page in repl.it.
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Repl-Spotlight/32569"
							target="_blank"
							rel="noreferrer noopener"
							>Repl Spotlight</a
						>
					</h3>
					<p>Awesome repls posted on the week of April 1st!</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Introducing-Replit-offline/32107"
							target="_blank"
							rel="noreferrer noopener"
							>Introducing Repl.it offline!</a
						>
					</h3>
					<p>
						April Fools joke 🤪 by
						<a href="https://repl.it/@qualladoom">@qualladoom</a> for repl.it.
						This service is still available.
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/At-Home-Students-Code-Jam/32045"
							target="_blank"
							rel="noreferrer noopener"
							>At Home Students Code Jam</a
						>
					</h3>
					<p>
						Results of the At Home Students Code Jam. The winners are
						<a href="https://repl.it/@raghavm">@raghavm</a> and
						<a href="https://repl.it/@LehuyH">@LehuyH</a> with
						<a href="https://codejamentry.raghavm.repl.co/">their website.</a>
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Announcing-Basic-Language-With-Graphics-Beta/31741"
							target="_blank"
							rel="noreferrer noopener"
							>Announcing Basic Language With Graphics (Beta)</a
						>
					</h3>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/At-Home-Students-Code-Jam/30511"
							target="_blank"
							rel="noreferrer noopener"
							>At Home Students Code Jam</a
						>
					</h3>
					<p>
						Announcing At Home Students Code Jam which took place because many
						schools were closed due to Covid-19.
					</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Experiencing-difficulties/30145"
							target="_blank"
							rel="noreferrer noopener"
							>Experiencing difficulties</a
						>
					</h3>
					<p>Huge Spike in Traffic for repl.it</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Repls/28360"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Repls!</a
						>
					</h3>
					<p>The best repls in the week of Feb 9th - Feb 15th!</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/aboutyouWinner-announcement/27453"
							target="_blank"
							rel="noreferrer noopener"
							>🎉(about:you;)Winner announcement🎉</a
						>
					</h3>
					<p>
						(about:you;) hackathon results. The winner was
						<a href="https://repl.it/@recurshawn">@recurshawn's</a>
						<a href="https://shawns-trajectory.recurshawn.repl.co/">website!</a>
					</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/New-Reactjs-and-Django-templates-and-some-explanation-for-recent-bugs/26965"
							target="_blank"
							rel="noreferrer noopener"
							>New React.js and Django templates (and some explanation for
							recent bugs)</a
						>
					</h3>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Announcing-aboutyou/25890"
							target="_blank"
							rel="noreferrer noopener"
							>🎉 Announcing about:you; !🎉</a
						>
					</h3>
					<p>Announcing (about:you;) hackathon.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Weekly-Repls-1-12-2020/25832"
							target="_blank"
							rel="noreferrer noopener"
							>Weekly Repls (1-12-2020)</a
						>
					</h3>
					<p>The best repls of a week.</p>
				</div>
			</div>
			<div class="container left">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Developer-Spotlight-Jake-Cooper/25382"
							target="_blank"
							rel="noreferrer noopener"
							>Developer Spotlight: Jake Cooper</a
						>
					</h3>
					<p>Developer Spotlight for someone who has left repl.it.</p>
				</div>
			</div>
			<div class="container right2">
				<div class="content">
					<h3>
						<a
							href="https://repl.it/talk/announcements/Replit-Community-Year-In-Review/25184"
							target="_blank"
							rel="noreferrer noopener"
							>Repl.it Community Year In Review</a
						>
					</h3>
					<p>
						A HUGE post revising the best things of 2019 for repl.it by
						<a href="https://repl.it/@amasad">@amasad!</a>
					</p>
				</div>
			</div>
		</div>

		<footer>
			<p>
				Made with ❤ by the
				<a href="https://github.com/Repl-it-Coders">Repl-it-Coders Team</a> for
				<a href="https://repl.it">repl.it</a> as they carried use through these
				crises.
			</p>
		</footer>
	</body>
</html>
