@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

/* HTML CSS */

html.home {
	color: #ff69eb;
	font-family: "Montserrat", sans-serif;
}
html.posts {
	color: #BCAF9C;
}
html.suggestions {
	color: #d8973c;
}
html.timeline {
	color: #e56b6f;
}
html {

	background-color: blue; /*change it back to blue later */
	font-size: 20px;
}

/* Global and Most Used */
body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}
.center {
	text-align: center;
	list-style-position: inside;
}
h1 {
	font-size: 60px;
}
h1.big {
	font-size: 80px;
}
h2 {
	font-size: 40px;
}
h1,
h2 {
	color: #ddfff7;
	font-family: "Shadows Into Light", cursive;
}
h3 {
	font-size: 35px;
}

/* Links on Home Page */
.homeLink {
	color: #fecee9;
	text-decoration: none;
}
.homeLink:hover {
	color: rgba(254, 206, 233, 0.695);
}
/* Lists on Posts Page */
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
ol a {
	color: #54defd;
	text-decoration: none;
}
ol a:hover {
	color: rgba(84, 222, 253, 0.695);
	text-decoration: none;
}
p a {
	color: #c0df85;
	text-decoration: none;
}
p a:hover {
	color: rgba(192, 223, 133, 0.695);
}
/* Suggestion page styling */
.suggestions label {
	color: #0e9594;
	font-family: "Handlee", cursive;
	font-size: 20px;
}

button {
	padding: 8px;
	border-radius: 8px;
	background-color: #6cd4ff;
	color: #562c2c;
	font-family: "Cutive Mono", monospace;
	font-size: 20px;
}

input, textarea {
	padding: 10px;
	border-radius: 7px;
	background-color: #f2542d;
	color: #f5dfbb;
}

button:hover button:after {
    opacity: 1;
    right: 0;
}
button span {
    cursor: pointer;
    position: relative;
    transition: 0ms;
    padding: 8px;
  	border-radius: none;
    border: none;
	  background-color: #6cd4ff;
	  color: #562c2c;
	  font-family: "Cutive Mono", monospace;
	  font-size: 20px;
}
button span:after {
    background-color: #6cd4ff;
}

button:hover span {
    background-color: green;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

/* NAVBAR */
.navbar {
	overflow: hidden;
	background-color: #586f7c;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

/* Style the navigation bar links */
.navbar a {
	float: left;
	color: #3a2618;
	padding: 14px 20px;
	text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
	float: right;
}

/* Change color on hover */
.navbar a.suggestions:hover {
	background-color: #1cfeba;
	color: #d8973c;
}
.navbar a.posts:hover {
	background-color: #ee2e31;
	color: #31d843;
}
.navbar a.home:hover {
	background-color: #d7f171;
	color: #ff69eb;
}
.navbar a.timeline:hover {
	background-color: #ffffea;
	color: #e56b6f;
}

/* Active/current link */
.navbar a.suggestions.active {
	background-color: #1cfeba;
	color: #d8973c;
	font-weight: bold;
}
.navbar a.posts.active {
	background-color: #ee2e31;
	color: #31d843;
	font-weight: bold;
}
.navbar a.home.active {
	background-color: #d7f171;
	color: #ff69eb;
	font-weight: bold;
}
.navbar a.timeline.active {
	background-color: #ffffea;
	color: #e56b6f;
}

/* Active Hover Current Link */
.navbar a.suggestions.active:hover {
	background-color: rgba(28, 254, 186, 0.695);
	color: rgba(216, 151, 60, 0.695);
}
.navbar a.posts.active:hover {
	background-color: rgba(238, 46, 49, 0.695);
	color: rgba(49, 216, 67, 0.695);
}
.navbar a.home.active:hover {
	background-color: rgba(215, 241, 113, 0.695);
	color: rgba(255, 105, 235, 0.695);
}
.navbar a.timeline.active:hover {
	background-color: rgba(255, 255, 234, 0.695);
	color: rgba(229, 107, 111, 0.695);
}

.navbar2 {
	float: right;
}
.navbar2 .repo:hover {
	background-color: #c04abc;
	color: #ffdbb5;
}
.navbar2 .editor:hover {
	background-color: #2bc016;
	color: #ade1e5;
}
.navbar2 .README:hover {
	background-color: #e0a458;
	color: #1f5ba7;
}
/* Timeline */
.acttimeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}
.acttimeline::after {
	content: "";
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
.container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #ff9f55;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.right2 {
	left: 50%;
}
.left {
	right: 80px;
}
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}
.right2::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}
.right2::after {
	left: -16px;
}

.content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}
.content a {
	text-decoration: none;
	color: #51e5ff;
}
.content a:hover {
	color: #ec368d;
}

/* Header and Footer */
header {
	padding: 30px;
	background: #04030f;
	font-size: 17px;
}

footer {
	height: 20px;
	bottom: 0;
	width: 98.59%;
	background: grey;
	background: #30292f;
	color: #e7cfcd;
	font-size: 13px;
	text-align: center;
}
footer a {
	color: #f4b393;
	text-decoration: none;
}
footer a:hover {
	color: rgba(244, 179, 147, 0.695);
}

footer ul {
	list-style-type: none;
}
