/* Timeline */
.acttimeline {
  position: relative;
  max-width: 1200px;
  margin: 10px auto;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #faffba;
  border: 4px solid #2a26ff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.right2 {
  left: 50%;
}
.left {
  right: 80px;
}
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #c900ab;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #c900ab;
}
.right2::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #c900ab;
  border-width: 10px 10px 10px 0;
  border-color: transparent #c900ab transparent transparent;
}
.right2::after {
  left: -16px;
}
                                                
.content {
  padding: 20px 30px;
  /* Box background */
  background-color: #c900ab;
  color: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 18px;
}
.content a {
  text-decoration: none;
  color: #feffee;
}
.content a:hover {
  color: #fdffdc;
}

h3 {
  font-family: "Shadows Into Light", cursive !important;
  font-size: 32px;
}